Steam Boat/steamboat/__pycache__/__init__.cpython-310.pyc
Steam Boat/steamboat/__pycache__/__init__.cpython-312.pyc
Steam Boat/steamboat/__pycache__/__init__.cpython-313.pyc
Steam Boat/steamboat/__pycache__/dataset.cpython-310.pyc
Steam Boat/steamboat/__pycache__/dataset.cpython-312.pyc
Steam Boat/steamboat/__pycache__/dataset.cpython-313.pyc
Steam Boat/steamboat/__pycache__/model.cpython-310.pyc
Steam Boat/steamboat/__pycache__/model.cpython-312.pyc
Steam Boat/steamboat/__pycache__/model.cpython-313.pyc
Steam Boat/steamboat/__pycache__/tools.cpython-310.pyc
Steam Boat/steamboat/__pycache__/tools.cpython-312.pyc
Steam Boat/steamboat/__pycache__/tools.cpython-313.pyc
Steam Boat/steamboat/__pycache__/utils.cpython-310.pyc
Steam Boat/steamboat/__pycache__/utils.cpython-312.pyc
Steam Boat/steamboat/__pycache__/utils.cpython-313.pyc
Steam Boat/examples/saved_models/Xmbrain_new.pth
Steam Boat/examples/saved_models/Xmbrain_new_75.pth
Steam Boat/examples/saved_models/Xmbrain_new_50_0.3.pth
Steam Boat/examples/saved_models/mmbrain_new.pth
Steam Boat/examples/saved_models/hgsc_new.pth
Steam Boat/examples/saved_models/crc_codex_new.pth
Steam Boat/examples/saved_models/crc_codex_new_colab.pth
Steam Boat/examples/saved_models/crc_codex_new_colab_1.pth
Steam Boat/examples/saved_models/Breast_Cancer_50_0.1.pth
Steam Boat/examples/saved_h5ad/Xmbrain.h5ad
Steam Boat/examples/saved_h5ad/Xmbrain_100.h5ad
Steam Boat/examples/saved_h5ad/Xmbrain_50_0.3.h5ad
Steam Boat/examples/saved_h5ad/Xmbrain_0.h5ad
Steam Boat/examples/saved_h5ad/Xmbrain_0_100.h5ad
Steam Boat/examples/saved_h5ad/Xmbrain_0_50_0.3.h5ad
Steam Boat/examples/log/log.txt
Auto Encoders/Breast Cancer/Weights/final_model.pth
Auto Encoders/Breast Cancer/Weights/final_model_g.pth
Auto Encoders/Breast Cancer/Weights/final_model_g_ae.pth
Auto Encoders/Breast Cancer/Weights/final_model_ae.pth
Auto Encoders/Breast Cancer/Weights/final_model_ae_Res50.pth
Auto Encoders/Breast Cancer/Weights/final_model_ae_Res50_n.pth
Auto Encoders/Breast Cancer/Weights/final_model_ae_Res50_Morpho_356.pth
Auto Encoders/Breast Cancer/Weights/final_model_ae_Res50_Morpho_56.pth
Auto Encoders/Breast Cancer/Weights/final_model_ae_hoptimus.pth
Auto Encoders/Breast Cancer/Weights/best_model.pth
Auto Encoders/Breast Cancer/Weights/best_model_g.pth
Auto Encoders/Breast Cancer/Weights/best_model_g_ae.pth
Auto Encoders/Breast Cancer/Weights/best_model_ae.pth
Auto Encoders/Breast Cancer/Weights/best_model_ae_UNI.pth
Auto Encoders/Breast Cancer/Weights/best_model_ae_Res50.pth
Auto Encoders/Breast Cancer/Weights/best_model_ae_Res50_n.pth
Auto Encoders/Breast Cancer/Weights/best_model_ae_Res50_Morpho_356.pth
Auto Encoders/Breast Cancer/Weights/best_model_ae_Res50_Morpho_56.pth
Auto Encoders/Breast Cancer/Weights/best_model_ae_hoptimus.pth
Steam Boat/examples/steamboat_train-1906348.err
Steam Boat/examples/steamboat_train-1906348.out
HadmardAttention/__pycache__/__init__.cpython-312.pyc
HadmardAttention/__pycache__/dataset.cpython-312.pyc
HadmardAttention/__pycache__/model.cpython-312.pyc
HadmardAttention/__pycache__/tools.cpython-312.pyc
HadmardAttention/__pycache__/utils.cpython-312.pyc
HistoAEs/Breast Cancer/Weights/best_model_ae_hoptimus.pth
HistoAEs/Breast Cancer/Weights/best_model_ae_Res50_Morpho_56.pth
HistoAEs/Breast Cancer/Weights/best_model_ae_Res50_Morpho_356.pth
HistoAEs/Breast Cancer/Weights/best_model_ae_Res50_n.pth
HistoAEs/Breast Cancer/Weights/best_model_ae_Res50.pth
HistoAEs/Breast Cancer/Weights/best_model_ae_UNI.pth
HistoAEs/Breast Cancer/Weights/best_model_ae.pth
HistoAEs/Breast Cancer/Weights/best_model_g_ae.pth
HistoAEs/Breast Cancer/Weights/best_model_g.pth
HistoAEs/Breast Cancer/Weights/best_model.pth
HistoAEs/Breast Cancer/Weights/final_model_ae_hoptimus.pth
HistoAEs/Breast Cancer/Weights/final_model_ae_Res50_Morpho_56.pth
HistoAEs/Breast Cancer/Weights/final_model_ae_Res50_Morpho_356.pth
HistoAEs/Breast Cancer/Weights/final_model_ae_Res50_n.pth
HistoAEs/Breast Cancer/Weights/final_model_ae_Res50.pth
HistoAEs/Breast Cancer/Weights/final_model_ae.pth
HistoAEs/Breast Cancer/Weights/final_model_g_ae.pth
HistoAEs/Breast Cancer/Weights/final_model_g.pth
HistoAEs/Breast Cancer/Weights/final_model.pth
Notebooks/Hadmard_Attention/saved_models/mouse_brain_UNI_0.pth
Notebooks/Hadmard_Attention/saved_models/mouse_brain_UNI_5.pth
Notebooks/Hadmard_Attention/saved_models/Xbcancer_UNI_0.pth
Notebooks/Hadmard_Attention/saved_models/Xbcancer_UNI_5.pth
SteamBoat/examples/steamboat_train-1906348.err
SteamBoat/examples/steamboat_train-1906348.out
SteamBoat/examples/train_examples.slurm
SteamBoat/examples/log/log.txt
SteamBoat/examples/saved_h5ad/Xmbrain_0_50_0.3.h5ad
SteamBoat/examples/saved_h5ad/Xmbrain_0_100.h5ad
SteamBoat/examples/saved_h5ad/Xmbrain_0.h5ad
SteamBoat/examples/saved_h5ad/Xmbrain_50_0.3.h5ad
SteamBoat/examples/saved_h5ad/Xmbrain_100.h5ad
SteamBoat/examples/saved_h5ad/Xmbrain.h5ad
SteamBoat/examples/saved_models/Breast_Cancer_50_0.1.pth
SteamBoat/examples/saved_models/crc_codex_new_colab_1.pth
SteamBoat/examples/saved_models/crc_codex_new_colab.pth
SteamBoat/examples/saved_models/crc_codex_new.pth
SteamBoat/examples/saved_models/hgsc_new.pth
SteamBoat/examples/saved_models/mmbrain_new.pth
SteamBoat/examples/saved_models/Xmbrain_new_50_0.3.pth
SteamBoat/examples/saved_models/Xmbrain_new_75.pth
SteamBoat/examples/saved_models/Xmbrain_new.pth
SteamBoat/steamboat/__pycache__/__init__.cpython-310.pyc
SteamBoat/steamboat/__pycache__/__init__.cpython-312.pyc
SteamBoat/steamboat/__pycache__/__init__.cpython-313.pyc
SteamBoat/steamboat/__pycache__/dataset.cpython-310.pyc
SteamBoat/steamboat/__pycache__/dataset.cpython-312.pyc
SteamBoat/steamboat/__pycache__/dataset.cpython-313.pyc
SteamBoat/steamboat/__pycache__/model.cpython-310.pyc
SteamBoat/steamboat/__pycache__/model.cpython-312.pyc
SteamBoat/steamboat/__pycache__/model.cpython-313.pyc
SteamBoat/steamboat/__pycache__/tools.cpython-310.pyc
SteamBoat/steamboat/__pycache__/tools.cpython-312.pyc
SteamBoat/steamboat/__pycache__/tools.cpython-313.pyc
SteamBoat/steamboat/__pycache__/utils.cpython-310.pyc
SteamBoat/steamboat/__pycache__/utils.cpython-312.pyc
SteamBoat/steamboat/__pycache__/utils.cpython-313.pyc
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_hoptimus_0.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_hoptimus_5.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_NOISE_0.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_NOISE_5.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_UNI_0_0.2.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_UNI_0_0.5.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_UNI_0_1.0.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_UNI_0.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_UNI_5_0.2.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_UNI_5_0.5.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_UNI_5_1.0.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_UNI_5.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_virchow_0.pth
Notebooks/Hadmard_Attention/saved_models/breast_cancer_32_virchow_5.pth
Notebooks/Hadmard_Attention/saved_models/mouse_brain_32_hoptimus_0.pth
Notebooks/Hadmard_Attention/saved_models/mouse_brain_32_hoptimus_5.pth
Notebooks/Hadmard_Attention/saved_models/mouse_brain_32_NOISE_5.pth
Notebooks/Hadmard_Attention/saved_models/mouse_brain_32_UNI_0.pth
Notebooks/Hadmard_Attention/saved_models/mouse_brain_32_UNI_5.pth
Notebooks/Hadmard_Attention/saved_models/mouse_brain_32_virchow_0.pth
Notebooks/Hadmard_Attention/saved_models/mouse_brain_32_virchow_5.pth
Notebooks/SelfAttention/saved_models/Breast_Cancer_32_0.8.pth
Notebooks/SelfAttention/saved_models/breast_cancer_32_hoptimus_0.8.pth
Notebooks/SelfAttention/saved_models/breast_cancer_32_NOISE_0.8.pth
Notebooks/SelfAttention/saved_models/Breast_Cancer_32_UNI_0.8.pth
Notebooks/SelfAttention/saved_models/Breast_Cancer_32_virchow_0.8.pth
Notebooks/SelfAttention/saved_models/breast_cancer_64_hoptimus_0.8.pth
Notebooks/SelfAttention/saved_models/breast_cancer_64_NOISE_0.8.pth
Notebooks/SelfAttention/saved_models/Breast_Cancer_64_UNI_0.2.pth
Notebooks/SelfAttention/saved_models/Breast_Cancer_64_UNI_0.5.pth
Notebooks/SelfAttention/saved_models/Breast_Cancer_64_UNI_0.8.pth
Notebooks/SelfAttention/saved_models/Breast_Cancer_64_UNI_1.0.pth
Notebooks/SelfAttention/saved_models/mouse_brain_5k_32_hoptimus_0.8.pth
Notebooks/SelfAttention/saved_models/mouse_brain_5k_32_NOISE_0.8.pth
Notebooks/SelfAttention/saved_models/mouse_brain_5k_32_UNI_0.8.pth
Notebooks/SelfAttention/saved_models/mouse_brain_32_hoptimus_0.8.pth
Notebooks/SelfAttention/saved_models/mouse_brain_32_NOISE_0.8.pth
Notebooks/SelfAttention/saved_models/mouse_brain_32_UNI_0.8.pth
Notebooks/SelfAttention/saved_models/mouse_brain_32_virchow_0.8.pth
SelfAttention/__pycache__/__init__.cpython-312.pyc
SelfAttention/__pycache__/dataset.cpython-312.pyc
SelfAttention/__pycache__/model.cpython-312.pyc
SelfAttention/__pycache__/utils.cpython-312.pyc
Notebooks/Classification_Assesment/Mouse_Brain_Segmentation
SteamBoat/examples/saved_models/Breast_Cancer_32_0.8.pth
SteamBoat/examples/saved_models/Breast_Cancer_64_0.2.pth
SteamBoat/examples/saved_models/Breast_Cancer_64_0.5.pth
SteamBoat/examples/saved_models/Breast_Cancer_64_0.8.pth
SteamBoat/examples/saved_models/Breast_Cancer_64_1.0.pth
SteamBoat/examples/saved_models/Mouse_Brain_64_0.8.pth
results_draft_1.csv
results_draft_2.csv
results.csv
results.csv.lock
HadmardAttention/__pycache__/__init__.cpython-311.pyc
HadmardAttention/__pycache__/dataset.cpython-311.pyc
HadmardAttention/__pycache__/model.cpython-311.pyc
HadmardAttention/__pycache__/utils.cpython-311.pyc
HPC_logs/err_3552857_0.txt
HPC_logs/err_3552857_1.txt
HPC_logs/err_3552857_2.txt
HPC_logs/err_3552857_3.txt
HPC_logs/err_3552857_4.txt
HPC_logs/err_3552857_5.txt
HPC_logs/err_3552857_6.txt
HPC_logs/err_3552857_7.txt
HPC_logs/err_3552857_8.txt
HPC_logs/err_3552857_9.txt
HPC_logs/err_3552857_10.txt
HPC_logs/err_3552857_11.txt
HPC_logs/err_3552857_12.txt
HPC_logs/err_3552857_13.txt
HPC_logs/err_3552857_14.txt
HPC_logs/out_3552857_0.txt
HPC_logs/out_3552857_1.txt
HPC_logs/out_3552857_2.txt
HPC_logs/out_3552857_3.txt
HPC_logs/out_3552857_4.txt
HPC_logs/out_3552857_5.txt
HPC_logs/out_3552857_6.txt
HPC_logs/out_3552857_7.txt
HPC_logs/out_3552857_8.txt
HPC_logs/out_3552857_9.txt
HPC_logs/out_3552857_10.txt
HPC_logs/out_3552857_11.txt
HPC_logs/out_3552857_12.txt
HPC_logs/out_3552857_13.txt
HPC_logs/out_3552857_14.txt
SteamBoat/steamboat/__pycache__/utils.cpython-311.pyc
SteamBoat/steamboat/__pycache__/model.cpython-311.pyc
SteamBoat/steamboat/__pycache__/dataset.cpython-311.pyc
SteamBoat/steamboat/__pycache__/__init__.cpython-311.pyc
GNN/__pycache__/__init__.cpython-311.pyc
GNN/__pycache__/dataset.cpython-311.pyc
GNN/__pycache__/model.cpython-311.pyc
GNN/__pycache__/utils.cpython-311.pyc
GNN/__pycache__/dataset.cpython-312.pyc
GNN/__pycache__/model.cpython-312.pyc
Notebooks/GNN/saved_models/MI_MR_0.1_Seed_0.pth
Notebooks/GNN/saved_models/MI_MR_0.8_Seed_0.pth
Notebooks/GNN/saved_models/MR_0.0_Seed_0.pth
Notebooks/GNN/saved_models/MR_0.1_Seed_0.pth
Notebooks/GNN/saved_models/MR_0.2_Seed_0.pth
Notebooks/GNN/saved_models/MR_0.3_Seed_0.pth
Notebooks/GNN/saved_models/MR_0.4_Seed_0.pth
Notebooks/GNN/saved_models/MR_0.5_Seed_0.pth
Notebooks/GNN/saved_models/MR_0.6_Seed_0.pth
Notebooks/GNN/saved_models/MR_0.7_Seed_0.pth
Notebooks/GNN/saved_models/MR_0.8_Seed_0.pth
Notebooks/GNN/saved_models/MR_0.9_Seed_0.pth
Notebooks/GNN/saved_models/MR_1.0_Seed_0.pth
GNN/__pycache__/model.cpython-312.pyc
GNN/__pycache__/dataset.cpython-312.pyc
Notebooks/Modified_Steamboat/saved_models/MR_0.9_Seed_0.pth
Notebooks/Modified_Steamboat/saved_models/MR_0.1_Seed_0.pth
GNN/__pycache__/dataset.cpython-312.pyc
GNN/__pycache__/model.cpython-312.pyc
Gene_Predictor/__pycache__/__init__.cpython-311.pyc
Gene_Predictor/__pycache__/dataset.cpython-311.pyc
Gene_Predictor/__pycache__/model.cpython-311.pyc
Gene_Predictor/__pycache__/utils.cpython-311.pyc
GNN_Cross/__pycache__/__init__.cpython-311.pyc
GNN_Cross/__pycache__/dataset.cpython-311.pyc
GNN_Cross/__pycache__/model.cpython-311.pyc
GNN_Cross/__pycache__/utils.cpython-311.pyc
Train/Hadmard_Attention/saved_models/breast_cancer_32_UNI_5_MR_0.0.pth
Train/Hadmard_Attention/saved_models/breast_cancer_32_UNI_5_MR_0.4.pth
Train/Hadmard_Attention/saved_models/breast_cancer_32_UNI_5_MR_0.8.pth
Train/Hadmard_Attention/saved_models/breast_cancer_32_UNI_5_MR_1.0.pth
Train/GNN/saved_models/mouse_brain_32_virchow_0.8.pth
Train/GNN/saved_models/mouse_brain_32_UNI_0.8.pth
Train/GNN/saved_models/mouse_brain_32_NOISE_0.8.pth
Train/GNN/saved_models/mouse_brain_32_hoptimus_0.8.pth
Train/GNN/saved_models/mouse_brain_5k_32_UNI_0.8.pth
Train/GNN/saved_models/mouse_brain_5k_32_NOISE_0.8.pth
Train/GNN/saved_models/mouse_brain_5k_32_hoptimus_0.8.pth
Train/GNN/saved_models/Breast_Cancer_64_UNI_1.0.pth
Train/GNN/saved_models/Breast_Cancer_64_UNI_0.8.pth
Train/GNN/saved_models/Breast_Cancer_64_UNI_0.5.pth
Train/GNN/saved_models/Breast_Cancer_64_UNI_0.2.pth
Train/GNN/saved_models/breast_cancer_64_NOISE_0.8.pth
Train/GNN/saved_models/breast_cancer_64_hoptimus_0.8.pth
Train/GNN/saved_models/Breast_Cancer_32_virchow_0.8.pth
Train/GNN/saved_models/Breast_Cancer_32_UNI_0.8.pth
Train/GNN/saved_models/breast_cancer_32_NOISE_0.8.pth
Train/GNN/saved_models/breast_cancer_32_hoptimus_0.8.pth
Train/GNN/saved_models/Breast_Cancer_32_0.8.pth
Modified_Steamboat/__pycache__/model.cpython-311.pyc
Modified_Steamboat/__pycache__/model.cpython-311.pyc
